.App
  text-align: center;

.App-logo
  animation: App-logo-spin infinite 20s linear;
  height: 80px;

.App-header
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;

.App-title
  font-size: 1.5em;

.App-intro
  font-size: large;

@keyframes App-logo-spin
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
 
.container
  margin: 0 auto;
  width: 350px;
  height: 400px;

#title-header
  color: #DE442A;

#film-title
  font-size: 20px;
  margin-bottom: 2px;

#film-rating
  margin: 5px 0;
  font-size: 13px;

#film-image
  max-width: 100%;
  max-height: 400px;
  height: auto;
  border-radius: 10px;

#loading
  position: relative;
  max-width: 100%;
  max-height: 400px;
  height: 300px;
  border-radius: 7px;

#loading-sign
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;

.button
  border: 5px solid #eee;
  border-radius: 50%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-top: 10px;
  width: 60px;
  height: 60px;
  outline: 0;
  cursor: pointer;
  
#accept-button
  float: right;
  background-color: transparentize(#4CAF50, 0.4);
  margin-right: 20px;

#reject-button
  float: left;
  background-color: transparentize(#AF4C50, 0.4);  
  margin-left: 20px;  
  font-size: 20px;

$breakpoint-tablet: 500px;
@media (max-width: $breakpoint-tablet)
  body
    background-color: #F7F9FC;

  #film-rating
    font-size: 13px;

  #summary
    width: 95%;

  .container
    margin: 0;
    width: 365px;
  
  #film-image
    max-width: 100%;
    max-height: 400px;
    width: 340px;
    height: auto;
    
  #reject-button
    margin-left: 50px;

  #accept-button
    margin-right: 50px;
  